.maincontent {
    width: 50vw;
    max-width: 1536px;
}

.about {
    margin-bottom: 48px;
}

#logo {
    margin: 20px 0 36px 0;
    display: flex;
    align-items: center;
}

#chiv_logo {
    background-color: #fff;
    box-sizing: content-box;
    padding: 5px;
    height: 100px;
}

.logoimg {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

#description {
    font-weight: 500;
}

.non-comm, .comm {
    margin: 72px 0;
}

.sub_title {
    font-size: 1.5rem;
    font-weight: 400;
}

.copyright {
    text-align: center;
    margin-top: 36px;
}

.ccl {
    font-style: bold;
}

.bold {
    font-weight: 400;
    font-size: 1.25rem;
    margin-top: 48px;
}

a.link {
    color: #111111;
    border-bottom: 1px solid transparent;
}

a.link:hover {
    border-bottom: 1px solid #111111;
}

.korbold {
    font-weight: 700;
}

.enbold {
    font-weight: 500;
}