#chiv_logo {
    height: 100px
}

.chiv_studio {
    background-color: #fff;
    box-sizing: content-box;
    display: inline-block;
    padding: 5px;
}

.maincontent {
    width: 50vw;
    max-width: 1536px;
}