h1.title {
    margin: 24px 0;
}

p {
    margin: 8px;
}

.con_list {
    margin: 48px 0;
}

.contact {
    display: flex;
    align-items: center;
    color: #111111;
    font-size: 1.25rem;
    margin: 16px;
    height: 64px;
    width: 300px;
    transition: all 250ms;
    border: 1px solid transparent;
    padding-left: 12px;
}

.contact:hover {
    transition: all 250ms;
    border: 1px solid #111111;
}

#twitter,
#mail,
#twitch {
    width: 64px;
}

#github {
    width: 32px;
    margin: 16px;
}

footer {
    top: 48px;
}