h1.title {
    font-size: 2.5rem;
    margin: 24px 0;
    font-weight: 300;
}

p {
    margin: 8px;
}

.con_list {
    margin-top: 48px;
}

.contact {
    display: flex;
/*    justify-content: center;*/
    align-items: center;
    color: #111111;
    font-size: 1.25rem;
/*    padding: 4px;*/
    margin: 16px;
    height: 64px;
    width: 300px;
    transition: all 250ms;
    border: 1px solid transparent;
    padding-left: 12px;
}

.contact:hover {
    transition: all 250ms;
    border: 1px solid #111111;
}

#twitter,
#mail,
#twitch {
    width: 64px;
}

footer {
    top: 48px;
}