@media (min-width: 1441px) {

    .vert,
    .horz {
        width: 40vw;
    }
}

@media (orientation: portrait) and (max-width: 1440px) and
(min-width: 801px) {

    .vert,
    .horz {
        width: 50vw;
    }
}

@media (orientation: portrait) and (max-width: 800px),
(min-width: 601px) {

    .vert,
    .horz {
        width: 60vw;
    }
}

@media (orientation: portrait),
(max-width: 600px) {

    .vert,
    .horz {
        width: 80vw;
    }
}
