/*@import url(https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap);*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

    
body {
/*    background-color: #3f3f3f;*/
/*
    background-image: url(../img/home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
*/
/*    background-color: rgba(255,0,0,0.25);*/
    margin: 0;
    color: #000;
    
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    
}

.test{
/*
    background-image: url(../img/home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
*/
    background-color: rgba(255,255,0,0.25);
}

/*
body:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.25);
}
*/

.test:before {
    background-image: url(../img/home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#headroom {
    height: 20vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

#homelogo {
/*
    transition:transform 250ms, background-color 150ms;
    transform:translate(20px, 20px);
*/
    padding: 20px;
    width: 600px;
}

#homelogo:hover {
    transition: background-color 150ms ;
    background-color: rgba(255,255,255, 0.15);
}
