@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@100&display=swap');


body {
    font-family: 'Roboto', sans-serif;
}

#bgImage {
    background-color: rgba(0, 0, 0, 0.15); /*overlay color*/
    background-image: url(../img/index/home_1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-blend-mode: multiply; /*overlay*/
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/*div*/
#headroom {
    height: 22vh;
}

/*
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
        height: 80vh;
}
*/

img.homelogo {
    transition: background-color 150ms, height 150ms;
    padding: 10px;
    /*    width: 40vw;*/
    height: 20vh;
    opacity: 1.0;
}

img.homelogo:hover {
    transition: background-color 150ms, height 150ms;
    background-color: rgba(255, 255, 255, 0.15);
    /*    width:39vw;*/
    height: 20vh;
}

img.homelogo:active {
    transition: background-color 150ms, height 150ms;
    height: 15vh;
}

a.homelogo {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Montserrat';
    font-style: sans-serif;
    font-weight: 200;
    font-size: 1.75rem;
    color: #fafafa;
}

#room {
    height: 34vh;
}

.nav_link {
/*
    display: inline-block;
    min-width: 100px;
*/
    transition: all 125ms;
    color: #111111;
    padding: 10px 20px;
    border: #111111 solid 1px;
    box-sizing: border-box;
}

.nav_link:hover {
    transition: all 200ms;
    color: #f0f0f0;
    background-color: #111111;
}

.nav_main {
    background-color: rgba(255,255,255,0.8);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 7vh;
    text-align: justify;
    column-count: 4;
    column-gap: 15vw;
    display: absolute;
}

.nav_sub {
    display: none;
}

.nav_sub:hover {
    display: inline;
}

.sns {
    display: inline;
}

#twitter,
#mail,
#twitch {
    width: 48px;
    min-width: 32px;
}

#twitch {
    position: relative;
    top: 4px;
}
