.sub_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-count: 7;
    background-color: tomato;
    margin: 0;
    height: 75px;
    column-gap: 3vw;
    padding: 0;
}

.sub_link {
    font-size: 1rem;
}

@media (max-width: 800px) {
    .sub_link {
        font-size: 0.7rem;
    }
}