.sub_content {
    overflow-x: auto;
    white-space: nowrap;
    margin: 0 auto;
    padding: 0 3vw;
}

.sub_content::-webkit-scrollbar {
    height: 10px;
}

.sub_content::-webkit-scrollbar-thumb {
    background-color: #a1a1a1;
    border-radius: 10px;
}

.sub_content::-webkit-scrollbar-track {
    background-color: #d1d1d1;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}




.sub_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-count: 7;
    margin: 0;
    height: 75px;
    column-gap: 48px;
    padding: 0;
}

.sub_link {
    display: inline-block;
    font-size: 1rem;
    height: 24px;
    color: #111111;
    transition: all 200ms;
    border-bottom: 1px solid rgba(0,0,0,0);
}

.sub_link:hover {
    transition: all 100ms;
    border-bottom: 1px solid #111111
}

.selected {
    border-bottom: 1px solid #111111;
}

@media (max-width: 1000px) {
    .sub_content {
        padding: 0;
    }
    .sub_menu {
        min-width: 850px;
        height: 64px;
        padding: 0 48px;
    }
    .sub_link {
        font-size: 0.9rem;
        height: 20px;
    }
}