@font-face {
    font-family: "LeagueGothic-Regular";
    src: url("../font/LeagueGothic-1.601/static/WOFF2/LeagueGothic-Regular.woff2") format('woff2');
}


div.session_nav {
    width: 50vw;
}

ul {
    padding: 0;
}

li.ses_link {
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    margin: 24px 0 24px 0;

    /*    background    */
/*    background-color: rgba(0, 0, 0, 0.05);*/
    background-image: url(../img/sample_img.jpg), linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

li.ses_link > a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    top: 12px;
}

.session_ds {
    color: #fff;
    
}

.session_tt {
    font-size: 2.6rem;
    font-family: LeagueGothic-Regular;
/*    text-shadow: -1px 1px 0 rgba(0,0,0,0.4), 1px 1px 0 rgba(0,0,0,0.4), 1px -1px 0 rgba(0,0,0,0.4), -1px -1px 0 rgba(0,0,0,0.4);*/
}

.session_dt {
    font-size: 1.5rem;
    font-weight: 300;
/*    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;*/
}