@font-face {
    font-family: "LeagueGothic-Regular";
    src: url("../font/LeagueGothic-1.601/static/WOFF2/LeagueGothic-Regular.woff2") format('woff2');
}


div.session_nav {
    width: 80vw;
    max-width: 600px;
    min-width: 300px;
}

ul {
    padding: 0;
}

li.ses_link {
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    margin: 24px 0 24px 0;

    /*    background    */
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

li.ses_link > a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    top: 12px;
}

.session_ds {
    color: #fff;
}


.session_tt {
    font-size: 2.6rem;
    font-family: LeagueGothic-Regular;
    /*
    background-image: linear-gradient(to left, #F0F, #00F, #0FF, #0F0, #FF0, #F00);
    -webkit-background-clip: text;
    color: transparent;
*/
}

.session_dt {
    font-size: 1.5rem;
    font-weight: 300;
}