/*@import url(https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap);*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

    
body {
    background-color: #fafafa;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    color: #111111;
    
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/*codes for change font of korean characters but it doesn't works*/
@font-face {
    font-family: 'Nanum Gothic';
    font-style: sans-serif;
    font-weight: 400;
    src: url(https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap);
    unicode-range: U+00AC00-00D7A3;
}

.header {
    width: 20vw;
    border: rgba(0,0,0,0) solid 5px;
}

.sitelogo {
    width: 70%;
}

#mainlogo:hover {
    transition: all 150ms ;
    width: 200px;
}


.mainheader{
    display: flex;
    flex-direction: column;
    justify-content: center;
/*    align-items: center;*/
}
