/*@import url(https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap);*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

    
body {
    background-color: #3f3f3f;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    color: #fff;
    
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    
}


@media (max-width: 767px) {
    body {
        width: auto;
    }
}



/*codes for change font of korean characters but it doesn't works*/
@font-face {
    font-family: 'Nanum Gothic';
    font-style: sans-serif;
    font-weight: 400;
    src: url(https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap);
    unicode-range: U+00AC00-U+00D7A3;
}


#mainlogo {
    padding: 20px;
    width: 210px;
}

#mainlogo:hover {
    transition: all 150ms ;
    width: 200px;
}

header {
    height: 200px;
}

.mainheader{
    display: flex;
    flex-direction: column;
    justify-content: center;
/*    align-items: center;*/
}

header p {
    position: fixed;
}