@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Nanum+Gothic:wght@400&display=swap');

*{
    box-sizing: border-box;
}
    
body {
    background-color: #fafafa;
    color: #111111;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

ul.nav_main{
    padding: 0;
    padding-top: 2vh;
    margin: 0;
    border-top: #d1d1d1 solid 1px;
}

ul.nav_mobl {
    display:none;
}

/*codes for change font of korean characters but it doesn't works*/
@font-face {
    font-family: 'Nanum Gothic';
    font-style: sans-serif;
    font-weight: 400;
    src: url(https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap);
    unicode-range: U+00AC00-00D7A3;
}

.container {
    display: flex;
    flex-direction: row;
    padding-bottom: 2vh;
}


.header {
    width: 20vw;
    min-width: 110px;
    max-width: 300px;
    height: 75vh;
    border-right: #d1d1d1 solid 1px;
    position: -webkit-sticky;
    position: sticky;
}

img.sitelogo {
    transition: all 150ms ;
    width: 100%;
    max-width: 300px;
    min-width: 110px;
    padding: 2vw;
}

img.sitelogo:hover {
    transition: all 250ms ;
    background-color: rgba(0,0,0,0.025);
}

img.sitelogo:active {
    transition: all 250ms;
    width: 95%;
}

a.sitelogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.nav_link {
    transition: all 300ms;
    display: block;
    padding-left: 2vw;
    padding-top: 1.25vh;
    padding-bottom: 1.25vh;
    color: #111111;
    font-size: 1.5rem;
/*    margin: 1vh 0;*/
    border: rgba(0,0,0,0) solid 1px;
}

.nav_link:hover {
    transition: all 300ms;
    border: #111111 solid 1px;
}


.nav_link:active {
    transition: all 300ms;
    background-color: #111111;
    color: #fafafa;
}

#main {
    width: 75vw;
    position: relative;
    left: 3vw;
    top: 3vh;
}

footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4vh;
    font-size: 0.9rem;
}


/*layout for mobile*/

@media (max-width:800px){
    .header {
        width:100vw;
        border: none;
        border-bottom: #d1d1d1 solid 1px;
        height: 8vh;
        max-width: none;
    }
    
    a.sitelogo{
/*        width: ;*/
        height: 6vh;
    }
    img.sitelogo{
        padding: 0;
        height: 6vh;
        position: relative;
        top: 1vh;
    }
    
    ul.nav_main{
        display:none;
    }
    
    ul.nav_mobl{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    
    a.nav_link_m {
        width: 100vw;
        height: 5vh;
        max-height: none;
        color: #111111;
        z-index: 10;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        padding-bottom: 2vh;
    }
    
    #main {
        height: 500px;
    }
}